
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<hr/>

<h4>Business Service</h4>
<p>
    This app allows users to simulate trading on the stock market, tracking buys/sells and active portfolios
    for multiple users. The users' basis in each stock is tracked so they can easily see their overall gains
    and losses. Since real trades are not actually happening, we assume the user can buy or sell any number
    of shares immediately at the current quoted price.
</p>

<h4>Team</h4>
<dl>
    <dt>Shawna Buck</dt>
    <dd>
        The sole member of this project group. Shawna plans to graduate in August 2019.
        She has an internship lined up at Wellcare this summer. One day Shawna hopes to be a CIO.
    </dd>
</dl>

<h4>GitHub</h4>
<p>
    <a href="https://github.com/sortegon/S_Buck_HW_4">https://github.com/sortegon/S_Buck_HW_4</a>
</p>