@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div style="text-align: center">
        <img src="~/img/stock-exchange-911613_640.jpg" alt="Stock market stock photo" />
    </div>
</div>
